
    <section class="content-header">
      <h1>
        test graph
      </h1>
      <ol class="breadcrumb">
        <li><a href="/#/"><i class="fa fa-home"></i> Home</a></li>
      </ol>

    </section>

    <!-- Main content -->
    <section class="content">

 		<div class="row">
 			<div class="col-md-6">
 				<table ng-table="vm.tableParams" class="table" show-filter="false">
    				<tr ng-repeat="channel in data">
        				<td title="'Channel'">
            				{{channel.displayName}}</td>
        				<td title="'Followers'">
            				{{channel.followersNumber}}</td>
    				</tr>
				</table>
 			</div>
 			<div class="col-md-6">
 				<div google-chart="" chart="myChartObject" style="height:450px; width:100%;"></div>
 			</div>
 		</div>
		
    </section>
    <!-- /.content -->

